.header{
    text-align: center;
    width:99.5%;
    height: 20%;
    border: 3px solid orange;
    display: inline-block; 
}
.left{
    width:20%;
    text-align: center;
    height: 700px;
    display: inline-block; 
    border: 3px solid orange;
    


}
.right{
    width:59%;;
    text-align: center;
    height: 700px;
    border: 3px solid orange;
    display: inline-block;

}
.content{
    width:20%;
    text-align: center;
    height: 700px;
    border: 3px solid orange;
    display: inline-block;

}