.header{
    text-align: center;
    width:98.8%;
    height: 20%;
    border: 3px solid orange;
    display: inline-block; 
}
.left{
    width:14.3%;
    text-align: center;
    margin-top: 10px;
    height: 1000px;
    /*display: inline-block;*/ 
    border: 3px solid orange;
   


}
.right{
    width:68%;;
    text-align: center;
    height: 1000px;
    border: 3px solid orange;
    /*display: inline-block;*/
    margin-left: 30.8%;
    margin-top: -1006px;

   

}
.img{
    background-color: rgb(100, 177, 232);
}
.content{
    width:15%;
    text-align: center;
    height: 1000px;
    border: 3px solid orange;
    margin-left: 15.1%;
    margin-top: -1004px;
   /* display: inline-block;*/

}