.header{
    text-align: center;
    width:99.5%;
    height: 20%;
    border: 3px solid orange;
    display: inline-block; 
}
.left{
    width:15%;
    text-align: center;
    height: 1000px;
    display: inline-block; 
    border: 3px solid orange;
    


}
.right{
    width:69%;;
    text-align: center;
    height: 1000px;
    border: 3px solid orange;
    display: inline-block;
    background-color: rgb(100, 177, 232);

}
.content{
    width:15%;
    text-align: center;
    height: 1000px;
    border: 3px solid orange;
    display: inline-block;

}